.list_group{
    list-style-type: none;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.list_item{
    margin: 1rem 0 0 0;
    cursor: pointer;
}
.category{
    /* position: fixed; */
    top: 1;

}

.sub_title{
    font-size: 1.4rem;
    text-align: center;
}
