.list{
    width: 70%;
    margin: auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   
}
.container{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
   
}
    .item{
        width: 48%;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        padding: 1rem;
        margin-top: 1rem;

    }
.list_group{
    list-style-type: none;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.list_item{
    margin: 1rem 0 0 0;
    cursor: pointer;
}
.category{
    position: fixed;
    
    font-size: 12px;
}

.list_item:hover{
    border-bottom: 1px solid rgb(115, 115, 115);

}
.detail {
    
    /* background: #000; */
    width: 60%;
}

.title {
    font-size: 1rem;
    /* word-break: break-all; */

}
.sub_title{
    font-size: 1.4rem;
    text-align: center;
}

.btn{
 
  background: #5E5DF0;
  border-radius: 5px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 5px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.item:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}